.container {position: relative;}

body{
  background-color:rgba(225, 222, 222, 0.522) !important;
}

#producto{
  text-decoration: none;
  color: black;
}

#producto:hover{
  color: rgb(222,159,21);
  padding: 1%;
  margin: 1%;
}

hr{
  width: 50%;
}
