.logo{
  text-align: center;
  padding: 0%;
  margin: 0;
  background-color: black !important;
}
div.container{
  padding: 2em;
  width: 40em;
  position: relative;
}
#login{
  padding: 0 !important;
}
#forgotPassword{
  text-decoration: none;
  padding: 0px;
}
#forgotPassword:hover{
  color:rgb(222,159,21) !important;
}
#creaCuenta{
  text-decoration: none;
  padding: 2% !important;
  
}
#creaCuenta:hover{
  color:rgb(222,159,21) !important;
}
#social-link{
  text-decoration: none;
  color: white !important;
}
#social-link:hover{
  color: rgb(222,159,21) !important;
}
#btn{
  color: white !important;
  background-color:rgb(222,159,21) !important;
}
#btn:hover{
  background-color:white !important;
  color:rgb(222,159,21) !important;
  border-color: rgb(222,159,21) !important;
}