nav.navbar{
  background-color: black !important;
}
#h{
  width: 28.5vw;
  border-radius: 0%;
}

#c{
  color: rgb(222,159,21) !important;
  border-radius: 0%;
  background-color:white !important;
  border-left: none;
}
#c:hover{
  color: white !important;
  background-color:rgb(222,159,21) !important;
}

#btn{
  color: rgb(222,159,21) !important;
}

#btn:hover{
  color: rgb(255, 255, 255) !important;
}